In [36]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

dataset=pd.read_csv('C:\\Users\\raosa\\Desktop\\PROJECTS\\learning\\Part 1 - Data Preprocessing\\Data_Preprocessing\\Data.csv')

In [53]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [37]:
# working with missing data 
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

 ** imputing missing values **

In [38]:
from sklearn.preprocessing import Imputer
# replacing it with the mean . Mean is the default . 
# define what the imputer has to do 
imputer = Imputer(missing_values='NaN', strategy='mean',axis = 0)
# fit the imputer object to X 
imputer = imputer.fit(X[:,1:3])
# the columns we need have been imputed
X[:,1:3] = imputer.transform(X[:,1:3])

** label encoding **

Important because ML models are numeric and don't input strings .

In [42]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
# define the class and encode 
labelencoder_X = LabelEncoder()
X[:,0]= labelencoder_X.fit_transform(X[:,0])
# the problem with this is there are numerical weights attached to columns ... Not true . 
# to avoid this , we are doing one hot encoding after the label encoding 
onehotencoder = OneHotEncoder(categorical_features=[0])
X = onehotencoder.fit_transform(X).toarray()

# we also need to transform y 
labelencoder_y = LabelEncoder()
y= labelencoder_X.fit_transform(y)

** splitting into training and testing **

In [45]:
from sklearn.cross_validation import train_test_split
# specifying the train size is redundant here , but for my understanding 
X_train, X_test, y_train, y_test  = train_test_split(X,y,test_size = 0.25 , train_size = 0.75 )

** Feature scaling **

Important because most ML algos work on distance between two points logic. different features have different scales . Important to normalize this .

In [51]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()

"""
It is important to understand that scaling might or might not be required for the dummy variables 
( the hot encoded variables we have for the country )

In this case , for y_train and y_test , feature scaling is not being applied .  
"""
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)