In [1]:
import pandas as pd 
dataset = pd.read_csv('C:\\Users\\raosa\\Desktop\\PROJECTS\\learning\\Part 2 - Regression\\Section 4 - Simple Linear Regression\\Simple_Linear_Regression\\Salary_Data.csv')

    YearsExperience    Salary
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0